/*
HEADER FROM THIS POINT
The Display at the very top of the website
 */

.body {
    margin: 0px;
}


.header {
    display: flex;
    padding: 20px;
    background: aquamarine;
}

.ourLogo {
    flex-grow: 1;
    font-size: xx-large;
}

.sduLogo {
    margin-top: 20px;
}


/*
QUEUE TABLE FROM THIS POINT
The logic behind the queue.
 */

.inputContainer {
    display: flex;
    height: 24em;

}

.queueTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    padding: 16px;
    margin-right: 20px;
    overflow: auto;
    min-width: 400px;
}

.progressAlignment {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.arrow {
    font-size: 26px;
    color: dodgerblue;
}
.close {
    border: none;
    font-size: 24px;
    color: white;
    border-radius:60%;
    background-color: red;
}

.batchProgress {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}

.beerQueueTable td, .beerQueueTable th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}


.beerQueueTable tr:nth-child(even) {
    background-color: #dddddd;
}

/*
STORAGE FROM THIS POINT
This part keeps track of the quantity of Barley, Hops, Wheat, etc.
 */

.storageQuantity {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
    width: 440px;
    height: 12em;
    overflow: hidden;
    position: relative;
    margin: 22px auto;
    flex-grow: 1;


}

.storageAlt {
    display: block;
    flex-direction: column;
    margin-top: 2px;


}

.storageLabels {
    display: flex;
    align-items: center;
    margin-left: 35px;

}

.label {
    flex-grow: 1;
    margin-top: -15px;
    margin-bottom: 18px;
    font-family: Arial, sans-serif;

}

.barContainer {
    background-color: lightgrey;
    position: relative;
    transform: translateY(-90%);
    top: 90%;
    margin-left: 30px;
    width: 50px;
    height: 190px;
    float: left;
    border: 1px solid black;
}

.bar {
    background-color: forestgreen;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
}

.maintenanceLabel {
    font-family: Arial, sans-serif;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.maintenanceContainer {
    background-color: lightgrey;
    position: relative;
    transform: translateY(-710%);
    top: 102%;
    margin-left: 25px;
    width: 385px;
    height: 50px;
    float: left;
    border: 1px solid black;
    z-index: 1; /* Set a lower z-index for the maintenance container */
}

.maintenanceBar {
    background-color: darkred;
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    animation: slide 1.5s ease-out forwards;
    transform-origin: left;
    z-index: 0; /* Set a lower z-index for the maintenance bar */
}

@keyframes slide {
    from {
        transform: scaleX(0);
    }
}


@keyframes grow {
    from {
        transform: scaleY(0);
    }
}


/*
SENSOR VALUES FROM THIS POINT
 */

.sensorContainer {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    height: 20em;
    min-height: 50px;
    background-color: whitesmoke;
    overflow-y: scroll;
}

.sensorCapsule {
    align-items: center;
}

.sensorIcon {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

}

.sensorContainer ion-icon {
    background-color: mediumaquamarine;
    padding: 0.5em;
    border-radius: 50%;
    border: 3px solid;
}

.sensorName {
    text-align: center;
    font-family: arial, sans-serif;
    padding: 0.5em;
}

.sensorValue {
    text-align: center;
    font-family: arial, sans-serif;
    padding: 0.5em;
}


/*
BUTTONS FROM THIS POINT
 */

.lowerContainer {
    display: flex;

}

.productionButtons {
    display: flex;
    flex-wrap: wrap;
    /*max-width: 55.25em;*/

}

.buttonLogic {
    padding: 2em;
    width: 11em;
    margin: 1em;
    font-size: large;
    font-family: arial, sans-serif;

}

.currentStateContainer{
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
    width: calc(100%/3);
    justify-content: center;
}

.stateLabel {
    font-family: arial, sans-serif;
}

.currentStateDisplay {
    display: flex;
    margin-right: 2em;
    border: black 1px solid;
    background: #dddddd;
    align-items: center;
}

.stateContent {
    display: flex;
    font-family: arial, sans-serif;
    font-size: large;
    align-items: center;
}

.stateColor {
    padding: 10px;
    border: 1px solid black;
    width: 8px;
    height: 8px;
    margin: 1em;
    background: antiquewhite;
}

.stateNumber {
    padding-right: 5px;
}

.stateText {
    padding-left: 5px;
    padding-right: 1em;
}


/*
BATCH REPORTS FROM THIS POINT
 */

.batchReports {
    display: flex;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80em;
    overflow-y: scroll;
    flex-grow: 1;
}

.reportTable {
    width: 100%;
}


.reportTable td, .reportTable th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}


.reportTable tr:nth-child(even) {
    background-color: #dddddd;
}

.batchIdHeader {
    width: 25%;
}

.dateHeader {
    width: 25%;
}

.reportHeader {
    width: 50%;
}

.popup {
    position: fixed;
    top: 20%;
    left: 20%;
    display: inline-block;
    cursor: pointer;
    z-index: 2; /* Set a higher z-index for the popup */
}

/* The actual popup (appears on top) */
.popup .popuptext {
    background-color: #E0FFFF;
    width: 20rem;
    font-family: Arial, sans-serif;
    border-radius: 3px;
    visibility: hidden;
    color: #000000;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    z-index: 20;
    /* Remove the bottom and left properties */
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
}

#customAlert {
    display: none;
    position: fixed;
    top: 10%;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: red;
    letter-spacing: 1.2px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 20;
}

#customAlert p {
    margin: 0;
}
